@section SPAViews {
    @Html.Partial("_Home")
}
@section Scripts{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/app")
}
@*<html>
<head>
    <title>Author Data</title>
    <style type="text/css">
        .labelcolumn
        {
            width:130px;
            font-weight:bold;
            text-align:right;


        }
        .controlcolumn
        {
            width:500px;

        }
    </style>


</head>
<body>
    <form id="form1">
    <div>
        <h1>Author Data</h1>
    </div>
    <table class="controlcolumn">
        <tr>
            <td class="labelcolumn">First Name:</td>
            <td class="controlcolumn">
                <input type="TextBox" name="fNameInput" width="200px"/>
            </td>
        </tr>
        <tr>
            <td class="labelcolumn">Last Name:</td>
            <td class="controlcolumn">
                <input type="TextBox" name="lNameInput" width="200px" />
            </td>
        </tr>
        <tr>
            <td class="labelcolumn">DOB:</td>
            <td class="controlcolumn">
                <input type="TextBox" name="dobInput" width="200px" />
            </td>

        </tr>
        <tr>
            <td class="labelcolumn">%nbsp</td>
            <td class="controlcolumn">
                <input type="submit" name="submit" id="btn" value="submit" width="200px" onclick="btn_click"/>
            </td>

        </tr>
    </table>
    <panel id="Panel1">
        <label id="fnameLabel" ></label>
        <label id="lnameLabel"></label>
        <label id="dobLabel"></label>
    </panel>
     <br/>   
    </form>


</body>
</html>*@